.chernigiv {
    left: 44px;
    top: 91px;
    &::after {
        content: "Чернігів";
    }
}                  
.uzhgorod {
    left: 18px;
    top: 57px;
    &::after {
        content: "Ужгород";
    }
}
.lviv {
    left: 86px;
    top: 74px;
    &::after {
        content: "Львів";
    }
}
.lutsk {
    left: 113px;
    top: 122px;
    &::after {
        content: "Луцьк";
    }
}
.ivano-frankivsk {
    left: 64px;
    top: 58px;
    &::after {
        content: "Івано-Франківськ";
    }
}
.ternopil {
    left: 48px;
    top: 70px;
    &::after {
        content: "Тернопіль";
    }
}
.chernivtsi {
    left: 64px;
    top: 35px;
    &::after {
        content: "Чернівці";
    }
}
.rivne {
    left: 66px;
    top: 137px;
    &::after {
        content: "Рівне";
    }
}
.khmelnytsk {
    left: 50px;
    top: 120px;
    &::after {
        content: "Хмельницький";
    }
}
.zhytomyr {
    left: 92px;
    top: 144px;
    &::after {
        content: "Житомир";
    }
}
.vinnytsa { 
    left: 65px;
    top: 66px;
    &::after {
        content: "Вінниця";
    }
}
.kyiv-city {
    left: 82px;
    top: 114px;
    &::after {
        content: "Київ";
    }
}
.odesa {
    left: 160px;
    top: 171px;
    &::after {
        content: "Одеса";
    }
}
.cherkasy {
    left: 160px;
    top: 76px;
    &::after {
        content: "Черкаси";
    }
} 
.kropyvnytskiy {
    left: 173px;
    top: 69px;
    &::after {
        content: "Кропивницький";
    }
}
.mykolayiv  {
    left: 115px;
    top: 120px;
    &::after {
        content: "Миколаїв";
    }
}
.sumy {
    left: 122px;
    top: 158px;
    &::after {
        content: "Суми";
    }
}
.poltava {
    left: 161px;
    top: 93px;
    &::after {
        content: "Полтава";
    }
}
.dnipro {
    left: 124px;
    top: 80px;
    &::after {
        content: "Дніпро";
    }
}
.kherson {
    left: 89px;
    top: 74px;
    &::after {
        content: "Херсон";
    }
}
.simferopol {
    left: 103px;
    top: 118px;
    &::after {
        content: "Сімферополь";
    }
}
.kharkiv {
    left: 108px;
    top: 53px;
    &::after {
        content: "Харків";
    }
}
.zaporizha {
    left: 62px;
    top: 30px;
    &::after {
        content: "Запоріжжя";
    }
}
.donetsk {
    left: 60px;
    top: 125px;
    &::after {
        content: "Донецьк";
    }
}
.lughansk {
    left: 95px;
    top: 146px;
    &::after {
        content: "Луганськ";
    }
}
