//------Light Theme------
$main: #232323;
$grey: #ECECEC;
$red: #A70000;
$blue: #000E40;
$light-blue:#0024A4;
$text-blue: #446DFF;
$dark: #C4C4C4;
$sub: #AEAEAE;
$green: #18B657;
$lime: #41FD12;

//-------Dark theme-------
$dark-main: #121212;
$dark-submain: #2D2C2C;
$dark-grey: #4E4E4E;
$dark-text: #DCDCDC;
$dark-red: #FF4545;
$dark-blue: #93AAFF;
