.hremyach {
    top: 2px;
    left: 188px;
    &::after {
        content: "Грем’яч";
    }
}
.semenivka {
    top: 17px;
    left: 142px;
    &::after {
        content: "Семенівка";
    }
}
.zhadove {
    top: 34px;
    left: 145px;
    &::after {
        content: "Жадове";
    }
}
.novhorod-siverskiy {
    top: 38px;
    left: 180px;
    &::after {
        content: "Новгород-Сіверський";
    }
}
.horodnya {
    top: 48px;
    left: 63px;
    &::after {
        content: "Городня";
    }
}
.smovsk {
    top: 61px;
    left: 98px;
    &::after {
        content: "Сновськ";
    }
}
.ripky {
    top: 61px;
    left: 40px;
    &::after {
        content: "Ріпки";
    }
}
.korukivka {
    top: 67px;
    left: 113px;
    &::after {
        content: "Корюківка";
    }
}
.brech {
    top: 73px;
    left: 119px;
    &::after {
        content: "Бреч";
    }
}
.korop {
    top: 86px;
    left: 164px;
    &::after {
        content: "Короп";
    }
}
.slavutych {
    top: 89px;
    left: 15px;
    &::after {
        content: "Славутич";
    }
}
.mena {
    top: 91px;
    left: 106px;
    &::after {
        content: "Мена";
    }
}
.sosnytsya {
    top: 93px;
    left: 134px;
    &::after {
        content: "Сосниця";
    }
}
.baturyn {
    top: 115px;
    left: 156px;
    &::after {
        content: "Батурин";
    }
}
.borzna {
    top: 122px;
    left: 133px;
    &::after {
        content: "Борзна";
    }
}
.bahmach {
    top: 129px;
    left: 154px;
    &::after {
        content: "Бахмач";
    }
}
.nizhyn {
    top: 142px;
    left: 97px;
    &::after {
        content: "Ніжин";
    }
}
.nosivka {
    top: 155px;
    left: 79px;
    &::after {
        content: "Носівка";
    }
}
.talalayivka {
    top: 155px;
    left: 178px;
    &::after {
        content: "Талалаївка";
    }
}
.oster {
    top: 153px;
    left: 23px;
    &::after {
        content: "Остер";
    }
}
.kozelets {
    top: 158px;
    left: 38px;
    &::after {
        content: "Козелець";
    }
}
.ichnya {
    top: 162px;
    left: 122px;
    &::after {
        content: "Ічня";
    }
}
.bobrovytsa {
    top: 174px;
    left: 60px;
    &::after {
        content: "Бобровиця";
    }
}
.pryluky {
    top: 188px;
    left: 121px;
    &::after {
        content: "Прилуки";
    }
}
.varva {
    top: 200px;
    left: 143px;
    &::after {
        content: "Варва";
    }
}