.drabiv {
    top: 22px;
    left: 167px;
    &::after {
        content: "Драбів";
    }
}
.kaniv {
    top: 54px;
    left: 123px;
    &::after {
        content: "Канів";
    }
}
.zolotonosha {
    top: 60px;
    left: 159px;
    &::after {
        content: "Золотоноша";
    }
}
.korsun-shevchenkivskiy {
    top: 83px;
    left: 112px;
    &::after {
        content: "Корсунь-Шевченківський";
    }
}
.horodyshche {
    top: 94px;
    left: 125px;
    &::after {
        content: "Городище";
    }
}
.smila {
    top: 102px;
    left: 155px;
    &::after {
        content: "Сміла";
    }
}
.chyhyryn {
    top: 119px;
    left: 204px;
    &::after {
        content: "Чигирин";
    }
}
.kamyanka {
    top: 124px;
    left: 170px;
    &::after {
        content: "Кам’янка";
    }
}
.zhashkiv {
    top: 109px;
    left: 33px;
    &::after {
        content: "Жашків";
    }
}
.zvenyhorodka {
    top: 121px;
    left: 90px;
    &::after {
        content: "Звенигородка";
    }
}
.shpola {
    top: 129px;
    left: 118px;
    &::after {
        content: "Шпола";
    }
}
.monastyryshche {
    top: 129px;
    left: 15px;
    &::after {
        content: "Монастирище";
    }
}
.talne {
    top: 139px;
    left: 73px;
    &::after {
        content: "Тальне";
    }
}
.vatutine {
    top: 130px;
    left: 99px;
    &::after {
        content: "Ватутіне";
    }
}
.hrestynivka {
    top: 151px;
    left: 26px;
    &::after {
        content: "Христинівка";
    }
}
.uman {
    top: 154px;
    left: 41px;
    &::after {
        content: "Умань";
    }
}