.tsarychanka {
    top: 22px;
    left: 102px;
    &::after {
        content: "Царичанка";
    }
}
.pereshchepyne {
    top: 18px;
    left: 154px;
    &::after {
        content: "Перещепине";
    }
}
.verhnyodniprovsk {
    top: 53px;
    left: 88px;
    &::after {
        content: "Верхньодніпровськ";
    }
}
.novonoskovsk {
    top: 57px;
    left: 145px;
    &::after {
        content: "Новомосковськ";
    }
}
.pavlograd {
    top: 65px;
    left: 201px;
    &::after {
        content: "Павлоград";
    }
}
.kamyanske {
    top: 65px;
    left: 104px;
    &::after {
        content: "Кам’янське";
    }
}
.ternivka {
    top: 72px;
    left: 217px;
    &::after {
        content: "Тернівка";
    }
}
.vilnohirsk {
    top: 70px;
    left: 63px;
    &::after {
        content: "Вільногірськ";
    }
}
.pyatyhatky {
    top: 77px;
    left: 45px;
    &::after {
        content: "П’ятихатки";
    }
}
.zhovti-vody {
    top: 87px;
    left: 38px;
    &::after {
        content: "Жовті Води";
    }
}
.pershotravensk {
    top: 85px;
    left: 237px;
    &::after {
        content: "Першотравенськ";
    }
}
.synelnykove {
    top: 93px;
    left: 167px;
    &::after {
        content: "Синельникове";
    }
}
.mezhova {
    top: 94px;
    left: 251px;
    &::after {
        content: "Межова";
    }
}
.valylkivka {
    top: 99px;
    left: 203px;
    &::after {
        content: "Васильківка";
    }
}
.pokrovske {
    top: 117px;
    left: 218px;
    &::after {
        content: "Покровське";
    }
}
.sofiivka {
    top: 116px;
    left: 58px;
    &::after {
        content: "Софіївка";
    }
}
.kryviy-rih {
    top: 126px;
    left: 19px;
    &::after {
        content: "Кривий Ріг";
    }
}
.shyroke {
    top: 149px;
    left: 21px;
    &::after {
        content: "Широке";
    }
}
.apostolove {
    top: 152px;
    left: 56px;
    &::after {
        content: "Апостолове";
    }
}
.pokrov {
    top: 154px;
    left: 77px;
    &::after {
        content: "Покров";
    }
}
.nikopol {
    top: 159px;
    left: 94px;
    &::after {
        content: "Нікополь";
    }
}
.zelenodolsk {
    top: 164px;
    left: 46px;
    &::after {
        content: "Зеленодольськ";
    }
}