.svyatohirsk {
    top: 14px;
    left: 67px;
    &::after {
        content: "Святогірськ";
    }
}
.lyman {
    top: 20px;
    left: 90px;
    &::after {
        content: "Лиман";
    }
}
.slovyansk {
    top: 36px;
    left: 66px;
    &::after {
        content: "Слов’янськ";
    }
}
.kramatorsk {
    top: 45px;
    left: 62px;
    &::after {
        content: "Краматорськ";
    }
}
.druzhrivka {
    top: 60px;
    left: 58px;
    &::after {
        content: "Дружківка";
    }
}
.bahmut {
    top: 59px;
    left: 93px;
    &::after {
        content: "Бахмут";
    }
}
.konstantynivka {
    top: 67px;
    left: 77px;
    &::after {
        content: "Константинівка";
    }
}
.dobropillya {
    top: 70px;
    left: 38px;
    &::after {
        content: "Добропілля";
    }
}
.pokrovsk {
    top: 93px;
    left: 40px;
    &::after {
        content: "Покровськ";
    }
}
.horlivka {
    top: 92px;
    left: 94px;
    &::after {
        content: "Горлівка";
    }
}
.avdiivka {
    top: 103px;
    left: 75px;
    &::after {
        content: "Авдіївка";
    }
}
.kurahove {
    top: 124px;
    left: 40px;
    &::after {
        content: "Курахове";
    }
}
.shahtarsk {
    top: 122px;
    left: 122px;
    &::after {
        content: "Шахтарськ";
    }
}
.velyka-novosilka {
    top: 137px;
    left: 19px;
    &::after {
        content: "Велика Новосілка";
    }
}
.volnovaha {
    top: 167px;
    left: 59px;
    &::after {
        content: "Волноваха";
    }
}
.boykivske {
    top: 189px;
    left: 101px;
    &::after {
        content: "Бойківське";
    }
}
.nikolske {
    top: 205px;
    left: 46px;
    &::after {
        content: "Нікольське";
    }
}
.mariupol {
    top: 209px;
    left: 65px;
    &::after {
        content: "Маріуполь";
    }
}
.novoazovsk {
    top: 211px;
    left: 101px;
    &::after {
        content: "Новоазовськ";
    }
}
.manhush {
    top: 221px;
    left: 51px;
    &::after {
        content: "Мангуш";
    }
}
.urzuf {
    top: 232px;
    left: 36px;
    &::after {
        content: "Урзуф";
    }
}
.yalta-2 {
    top: 232px;
    left: 52px;
    &::after {
        content: "Ялта";
    }
}