.zolochiv {
    top: 18px;
    left: 76px;
    &::after {
        content: "Золочів";
    }
}
.vovchansk {
    top: 16px;
    left: 138px;
    &::after {
        content: "Вовчанськ";
    }
}
.bohoduhiv {
    top: 32px;
    left: 50px;
    &::after {
        content: "Богодухів";
    }
}
.krasnokutsk {
    top: 37px;
    left: 15px;
    &::after {
        content: "Краснокутськ";
    }
}
.derhachi {
    top: 41px;
    left: 91px;
    &::after {
        content: "Дергачі";
    }
}
.sharivka {
    top: 43px;
    left: 33px;
    &::after {
        content: "Шарівка";
    }
}
.velykyy-burluk {
    top: 44px;
    left: 167px;
    &::after {
        content: "Великий Бурлук";
    }
}
.pisochyn {
    top: 53px;
    left: 91px;
    &::after {
        content: "Пісочин";
    }
}
.merefa {
    top: 61px;
    left: 85px;
    &::after {
        content: "Мерефа";
    }
}
.chuhuiv {
    top: 66px;
    left: 125px;
    &::after {
        content: "Чугуїв";
    }
}
.malynivka {
    top: 76px;
    left: 134px;
    &::after {
        content: "Малинівка";
    }
}
.kupyansk {
    top: 82px;
    left: 191px;
    &::after {
        content: "Куп’янськ";
    }
}
.shevchenkove {
    top: 83px;
    left: 157px;
    &::after {
        content: "Шевченкове";
    }
}
.kivsharivka {
    top: 89px;
    left: 195px;
    &::after {
        content: "Ківшарівка";
    }
}
.pervomayskyy {
    top: 103px;
    left: 97px;
    &::after {
        content: "Первомайський";
    }
}
.savyntsi {
    top: 106px;
    left: 154px;
    &::after {
        content: "Савинці";
    }
}
.krasnograd {
    top: 111px;
    left: 44px;
    &::after {
        content: "Красноград";
    }
}
.isum {
    top: 120px;
    left: 173px;
    &::after {
        content: "Ізюм";
    }
}
.bakaliya {
    top: 104px;
    left: 140px;
    &::after {
        content: "Бакалія";
    }
}
.kehychivka {
    top: 119px;
    left: 61px;
    &::after {
        content: "Кегичівка";
    }
}
.sahnovshchyna {
    top: 134px;
    left: 67px;
    &::after {
        content: "Сахновщина";
    }
}
.lozova {
    top: 194px;
    left: 97px;
    &::after {
        content: "Лозова";
    }
}
.blyznyuky {
    top: 169px;
    left: 113px;
    &::after {
        content: "Близнюки";
    }
}