.velyka-olexandrivka {
     top: 24px;
     left: 119px;
    &::after {
        content: "Велика Олександрівка";
    }
}
.verhniy-rohanchyk {
    top: 37px;
    left: 192px;
    &::after {
        content: "Верхній Рогачик";
    }
}
.velyka-lepetyha {
    top: 45px;
    left: 159px;
    &::after {
        content: "Велика лепетиха";
    }
}
.kahovka {
    top: 69px;
    left: 139px;
    &::after {
        content: "Каховка";
    }
}
.nova-kahovka {
    top: 76px;
    left: 132px;
    &::after {
        content: "Нова Каховка";
    }
}
.nyzhni-sirohozy {
    top: 70px;
    left: 195px;
    &::after {
        content: "Нижні Сірогози";
    }
}
.ivanivka {
    top: 84px;
    left: 203px;
    &::after {
        content: "Іванівка";
    }
}
.aihamany {
    top: 89px;
    left: 188px;
    &::after {
        content: "Айгамани";
    }
}
.chaplynka {
    top: 114px;
    left: 145px;
    &::after {
        content: "Чаплинка";
    }
}
.novotroyitske {
    top: 122px;
    left: 187px;  
    &::after {
        content: "Новотроїцьке";
    }
}
.kalanchak {
    top: 125px;
    left: 126px;
    &::after {
        content: "Каланчак";
    }
}
.hinichensk {
    top: 136px;
    left: 221px;
    &::after {
        content: "Гініченськ";
    }
}
.schastlyvtseve {
    top: 153px;
    left: 223px;
    &::after {
        content: "Щасливцеве";
    }
}
.strilkove {
    top: 169px;
    left: 228px;
    &::after {
        content: "Стрілкове";
    }
}
.oleshky {
    top: 100px;
    left: 78px;
    &::after {
        content: "Олешки";
    }
}
.stanislav {
    top: 95px;
    left: 43px;
    &::after {
        content: "Станіслав";
    }
}
.hola-prystan {
    top: 107px;
    left: 66px;
    &::after {
        content: "Гола Пристань";
    }
}
.zaliznyy-port {
    top: 140px;
    left: 52px;
    &::after {
        content: "Залізний Порт";
    }
}
.lazurne {
    top: 144px;
    left: 67px;
    &::after {
        content: "Лазурне";
    }
}
.skadovsk {
    top: 141px;
    left: 90px;
    &::after {
        content: "Скадовськ";
    }
}