.svitlovodsk {
    top: 17px;
    left: 228px;
    &::after {
        content: "Світловодськ";
    }
}
.olexandrivka {
    top: 29px;
    left: 169px;
    &::after {
        content: "Олександрівка";
    }
}
.znamyanka {
    top: 54px;
    left: 206px;
    &::after {
        content: "Знамянка";
    }
}
.druha-znamyanka {
    top: 57px;
    left: 198px;
    &::after {
        content: "Друга Знамянка";
    }
}
.olexandria {
    top: 61px;
    left: 223px;
    &::after {
        content: "Олександрія";
    }
}
.novomyrhorod {
    top: 47px;
    left: 128px;
    &::after {
        content: "Новомиргород";
    }
}
.petrove {
    top: 92px;
    left: 240px;
    &::after {
        content: "Петрове";
    }
}
.kompaniivka {
    top: 102px;
    left: 171px;
    &::after {
        content: "Компаніївка";
    }
}
.dolynska {
    top: 115px;
    left: 205px;
    &::after {
        content: "Долинська";
    }
}
.bobrynets {
    top: 120px;
    left: 166px;
    &::after {
        content: "Бобринець";
    }
}
.novoukrainka {
    top: 99px;
    left: 125px;
    &::after {
        content: "Новоукраїнка";
    }
}
.pomichna {
    top: 104px;
    left: 115px;
    &::after {
        content: "Помічна";
    }
}
.dobrovelychivka {
    top: 94px;
    left: 101px;
    &::after {
        content: "Добровеличівка";
    }
}
.mala-vyska {
    top: 65px;
    left: 125px;
    &::after {
        content: "Мала Виска";
    }
}
.novoarkhanhelsk {
    top: 62px;
    left: 74px;
    &::after {
        content: "Новоархангельстк";
    }
}
.holovanivsk {
    top: 89px;
    left: 49px;
    &::after {
        content: "Голованівськ";
    }
}
.blahovishchenske {
    top: 96px;
    left: 29px;
    &::after {
        content: "Благовіщенське";
    }
}
.haivoron {
    top: 97px;
    left: 5px;
    &::after {
        content: "Гайворон";
    }
}