.armyansk {
    top: 5px;
    left: 85px;
    &::after {
        content: "Армянськ";
    }
}
.chervonoperekopsk {
    top: 24px;
    left: 90px;
    &::after {
        content: "Червоноперекопськ";
    }
}
.jankoi {
    top: 48px;
    left: 143px;
    &::after {
        content: "Джанкой";
    }
}
.pervomaiske {
    top: 51px;
    left: 96px;
    &::after {
        content: "Первомайське";
    }
}
.krasnohvardiyske {
    top: 72px;
    left: 132px;
    &::after {
        content: "Красногвардійське";
    }
}
.nyzhnyohirskiy {
    top: 76px;
    left: 164px;
    &::after {
        content: "Нижньогірський";
    }
}
.rozdolne {
    top: 43px;
    left: 65px;
    &::after {
        content: "Роздольне";
    }
}
.mizhvodne {
    top: 58px;
    left: 23px;
    &::after {
        content: "Міжводне";
    }
}
.chervonomorske {
    top: 65px;
    left: 12px;
    &::after {
        content: "Червономорське";
    }
}
.olenivka {
    top: 79px;
    left: 1px;
    &::after {
        content: "Оленівка";
    }
}
.novoozerne {
    top: 79px;
    left: 46px;
    &::after {
        content: "Новоозерне";
    }
}
.zaozerne {
    top: 102px;
    left: 49px;
    &::after {
        content: "Заозерне";
    }
}
.yevpatoria {
    top: 99px;
    left: 58px;
    &::after {
        content: "Євпаторія";
    }
}
.saky {
    top: 106px;
    left: 76px;
    &::after {
        content: "Саки";
    }
}
.sevastopol {
    top: 154px;
    left: 66px;
    &::after {
        content: "Севастополь";
    }
}
.bahchysarai {
    top: 143px;
    left: 88px;
    &::after {
        content: "Бахчисарай";
    }
}
.yalta {
    top: 166px;
    left: 113px;
    &::after {
        content: "Ялта";
    }
}
.hursuf {
    top: 159px;
    left: 121px;
    &::after {
        content: "Гурзуф";
    }
}
.alushta {
    top: 143px;
    left: 131px;
    &::after {
        content: "Алушта";
    }
}
.novyy-svit {
    top: 134px;
    left: 159px;
    &::after {
        content: "Новий Світ";
    }
}
.sudak {
    top: 130px;
    left: 168px;
    &::after {
        content: "Судак";
    }
}
.koktebel {
    top: 124px;
    left: 183px;
    &::after {
        content: "Коктебель";
    }
}
.feodosia {
    top: 115px;
    left: 192px;
    &::after {
        content: "Феодосія";
    }
}
.staryi-krym {
    top: 114px;
    left: 169px;
    &::after {
        content: "Старий Крим";
    }
}
.bilohirsk {
    top: 111px;
    left: 144px;
    &::after {
        content: "Білогірськ";
    }
}
.lenine {
    top: 88px;
    left: 222px;
    &::after {
        content: "Леніне";
    }
}
.shcholkine {
    top: 73px;
    left: 222px;
    &::after {
        content: "Щолкіне";
    }
}
.kerch {
    top: 83px;
    left: 270px;
    &::after {
        content: "Керч";
    }
}