.bilolutsk {
    top: 30px;
    left: 77px;
    &::after {
        content: "Білолуцьк";
    }
}
.bilokurakine {
    top: 52px;
    left: 56px;
    &::after {
        content: "Білокуракине";
    }
}
.novopskov {
    top: 46px;
    left: 84px;
    &::after {
        content: "Новопсков";
    }
}
.markivka {
    top: 59px;
    left: 111px;
    &::after {
        content: "Марківка";
    }
}
.svatove {
    top: 58px;
    left: 26px;
    &::after {
        content: "Сватове";
    }
}
.milove {
    top: 69px;
    left: 147px;
    &::after {
        content: "Мілове";
    }
}
.starobilsk {
    top: 78px;
    left: 78px;
    &::after {
        content: "Старобільськ";
    }
}
.bilovodsk {
    top: 90px;
    left: 114px;
    &::after {
        content: "Біловодськ";
    }
}
.novoaidar {
    top: 109px;
    left: 89px;
    &::after {
        content: "Новоайдар";
    }
}
.severodonetsk {
    top: 113px;
    left: 47px;
    &::after {
        content: "Сєвєродонецьк";
    }
}
.stanytsa-lughanska {
    top: 125px;
    left: 104px;
    &::after {
        content: "Станиця Луганська";
    }
}
.lysychansk {
    top: 122px;
    left: 43px;
    &::after {
        content: "Лисичанськ";
    }
}
.kadiivka {
    top: 149px;
    left: 56px;
    &::after {
        content: "Кадіївка";
    }
}
.alchevsk {
    top: 165px;
    left: 66px;
    &::after {
        content: "Алчевськ";
    }
}
.khrystalnyy {
    top: 199px;
    left: 72px;
    &::after {
        content: "Хрустальний";
    }
}
.antracyt {
    top: 201px;
    left: 81px;
    &::after {
        content: "Антрацит";
    }
}
.dovzhansk {
    top: 203px;
    left: 118px;
    &::after {
        content: "Довжанськ";
    }
}