.sokal {
    top: 13px;
    left: 108px;
    &::after {
        content: "Сокаль";
    }
}
.chervonograd {
    top: 26px;
    left: 102px;
    &::after {
        content: "Червоноград";
    }
}
.redehiv {
    top: 35px;
    left: 133px;
    &::after {
        content: "Радехів";
    }
}
.rava-ruska {
    top: 44px;
    left: 63px;
    &::after {
        content: "Рава-Руська";
    }
}
.brody {
    top: 53px;
    left: 165px;
    &::after {
        content: "Броди";
    }
}
.busk {
    top: 64px;
    left: 120px;
    &::after {
        content: "Буськ";
    }
}
.krakovets {
    top: 62px;
    left: 41px;
    &::after {
        content: "Краковець";
    }
}
.shehyni {
    top: 75px;
    left: 37px;
    &::after {
        content: "Шегині";
    }
}
.sokilnyky {
    top: 90px;
    left: 84px;
    &::after {
        content: "Сокільники";
    }
}
.zolochev {
    top: 85px;
    left: 150px;
    &::after {
        content: "Золочев";
    }
}
.dorogobych {
    top: 127px;
    left: 66px;
    &::after {
        content: "Дорогобич";
    }
}
.truskavets {
    top: 141px;
    left: 66px;
    &::after {
        content: "Трускавець";
    }
}
.sambir {
    top: 107px;
    left: 45px;
    &::after {
        content: "Самбір";
    }
}
.striy {
    top: 141px;
    left: 82px;
    &::after {
        content: "Стрий";
    }
}
.slavske {
    top: 184px;
    left: 48px;
    &::after {
        content: "Славське";
    }
}