.savran {
    top: 7px;
    left: 122px;
    &::after {
        content: "Саврань";
    }
}
.kodyma {
    top: 13px;
    left: 61px;
    &::after {
        content: "Кодима";
    }
}
.balta {
    top: 30px;
    left: 97px;
    &::after {
        content: "Балта";
    }
}
.lubashivka {
    top: 36px;
    left: 138px;
    &::after {
        content: "Любашівка";
    }
}
.podilsk {
    top: 46px;
    left: 89px;
    &::after {
        content: "Подільськ";
    }
}
.shyryaeve {
    top: 75px;
    left: 132px;
    &::after {
        content: "Ширяєве";
    }
}
.beresivka {
    top: 103px;
    left: 179px;
    &::after {
        content: "Березівка";
    }
}
.rozdilna {
    top: 140px;
    left: 126px;
    &::after {
        content: "Роздільна";
    }
}
.yuzhne {
    top: 157px;
    left: 192px;
    &::after {
        content: "Южне";
    }
}
.bilyaivka {
    top: 166px;
    left: 137px;
    &::after {
        content: "Біляївка";
    }
}
.chornomorsk {
    top: 188px;
    left: 165px;
    &::after {
        content: "Чорноморськ";
    }
}
.bilhorod-dnistrovskiy {
    top: 195px;
    left: 142px;
    &::after {
        content: "Білгород-Дністровський";
    }
}
.zatoka {
    top: 207px;
    left: 153px;
    &::after {
        content: "Затока";
    }
}
.sarata {
    top: 218px;
    left: 98px;
    &::after {
        content: "Сарата";
    }
}
.artsyz {
    top: 219px;
    left: 83px;
    &::after {
        content: "Арциз";
    }
}
.tatarbunary {
    top: 233px;
    left: 92px;
    &::after {
        content: "Татарбунари";
    }
}
.bolhrad {
    top: 253px;
    left: 28px;
    &::after {
        content: "Болград";
    }
}
.kiliya {
    top: 271px;
    left: 68px;
    &::after {
        content: "Кілія";
    }
}
.vylkove {
    top: 276px;
    left: 91px;
    &::after {
        content: "Вилкове";
    }
}
.izmail {
    top: 282px;
    left: 43px;
    &::after {
        content: "Ізмаїл";
    }
}
.reni {
    top: 276px;
    left: 7px;
    &::after {
        content: "Рені";
    }
}