.zarichne {
    top: 10px;
    left: 69px;
    &::after {
        content: "Зарічне";
    }
}
.dubrovytsya {
    top: 34px;
    left: 95px;
    &::after {
        content: "Дубровиця";
    }
}
.stare-selo {
    top: 33px;
    left: 137px;
    &::after {
        content: "Старе Село";
    }
}
.hlynne {
    top: 43px;
    left: 157px;
    &::after {
        content: "Глинне";
    }
}
.volodymyrets {
    top: 54px;
    left: 68px;
    &::after {
        content: "Володимирець";
    }
}
.varash {
    top: 63px;
    left: 51px;
    &::after {
        content: "Вараш";
    }
}
.sarny {
    top: 64px;
    left: 101px;
    &::after {
        content: "Сарни";
    }
}
.rokytne {
    top: 69px;
    left: 146px;
    &::after {
        content: "Рокитне";
    }
}
.berezne {
    top: 97px;
    left: 111px;
    &::after {
        content: "Березне";
    }
}
.kostopil {
    top: 107px;
    left: 85px;
    &::after {
        content: "Костопіль";
    }
}
.klevan {
    top: 130px;
    left: 61px;
    &::after {
        content: "Клевань";
    }
}
.korets {
    top: 136px;
    left: 138px;
    &::after {
        content: "Корець";
    }
}
.koryst {
    top: 143px;
    left: 131px;
    &::after {
        content: "Користь";
    }
}
.mlyniv {
    top: 151px;
    left: 31px;
    &::after {
        content: "Млинів";
    }
}
.zdolbuniv {
    top: 153px;
    left: 71px;
    &::after {
        content: "Здолбунів";
    }
}
.dubno {
    top: 165px;
    left: 43px;
    &::after {
        content: "Дубно";
    }
}
.ostrog {
    top: 170px;
    left: 97px;
    &::after {
        content: "Острог";
    }
}