.seredyna-buda {
    top: 21px;
    left: 69px;
    &::after {
        content: "Середина-Буда";
    }
}
.svesa {
    top: 50px;
    left: 64px;
    &::after {
        content: "Свеса";
    }
}
.shostka {
    top: 54px;
    left: 36px;
    &::after {
        content: "Шостка";
    }
}
.hluhiv {
    top: 77px;
    left: 57px;
    &::after {
        content: "Глухів";
    }
}
.putivl {
    top: 111px;
    left: 60px;
    &::after {
        content: "Путивль";
    }
}
.konotop {
    top: 124px;
    left: 15px;
    &::after {
        content: "Конотоп";
    }
}
.buryn {
    top: 126px;
    left: 57px;
    &::after {
        content: "Буринь";
    }
}
.pidlypne {
    top: 131px;
    left: 14px;
    &::after {
        content: "Підлипне";
    }
}
.bilopillya {
    top: 131px;
    left: 87px;
    &::after {
        content: "Білопілля";
    }
}
.richky {
    top: 135px;
    left: 101px;
    &::after {
        content: "Річки";
    }
}
.stepanivka {
    top: 154px;
    left: 105px;
    &::after {
        content: "Степанівка";
    }
}
.romny {
    top: 171px;
    left: 38px;
    &::after {
        content: "Ромни";
    }
}
.nedryhailov {
    top: 166px;
    left: 63px;
    &::after {
        content: "Недригайлов";
    }
}
.krasnopillya {
    top: 171px;
    left: 151px;
    &::after {
        content: "Краснопілля";
    }
}
.lypova-dolyna {
    top: 190px;
    left: 54px;
    &::after {
        content: "Липова Долина";
    }
}
.lebedyn {
    top: 188px;
    left: 109px;
    &::after {
        content: "Лебедин";
    }
}
.trostaynets {
    top: 194px;
    left: 134px;
    &::after {
        content: "Тростянець";
    }
}
.ohtyrka {
    top: 217px;
    left: 126px;
    &::after {
        content: "Охтирка";
    }
}