.kozyatyn {
    top: 14px;
    left: 92px;
    &::after {
        content: "Козятин";
    }
}
.khmilhyk {
    top: 35px;
    left: 34px;
    &::after {
        content: "Хмільник";
    }
}
.kalynivka {
    top: 43px;
    left: 72px;
    &::after {
        content: "Калинівка";
    }
}
.pohrebyshche {
    top: 43px;
    left: 126px;
    &::after {
        content: "Погребище";
    }
}
.lypovets {
    top: 72px;
    left: 108px;
    &::after {
        content: "Липовець";
    }
}
.illintsi {
    top: 83px;
    left: 122px;
    &::after {
        content: "Іллінці";
    }
}
.bar {
    top: 82px;
    left: 20px;
    &::after {
        content: "Бар";
    }
}
.zhmerynka {
    top: 90px;
    left: 43px;
    &::after {
        content: "Жмеринка";
    }
}
.nemyriv {
    top: 93px;
    left: 100px;
    &::after {
        content: "Немирів";
    }
}
.haysyn {
    top: 106px;
    left: 132px;
    &::after {
        content: "Гайсин";
    }
}
.shargorod {
    top: 118px;
    left: 39px;
    &::after {
        content: "Шаргород";
    }
}
.ladjyn {
    top: 118px;
    left: 123px;
    &::after {
        content: "Ладжин";
    }
}
.tulchyn {
    top: 125px;
    left: 102px;
    &::after {
        content: "Тульчин";
    }
}
.tomashpil {
    top: 135px;
    left: 74px;
    &::after {
        content: "Томашпіль";
    }
}
.mohyliv-podilskiy {
    top: 145px;
    left: 26px;
    &::after {
        content: "Могилів-Подільський";
    }
}
.trosyanets {
    top: 140px;
    left: 126px;
    &::after {
        content: "Тростянець";
    }
}
.kryzhopil {
    top: 152px;
    left: 104px;
    &::after {
        content: "Крижопіль";
    }
}
.yampil {
    top: 167px;
    left: 58px;
    &::after {
        content: "Ямпіль";
    }
}
.bershad {
    top: 156px;
    left: 145px;
    &::after {
        content: "Бершадь";
    }
}