.vilnyansk {
    top: 19px;
    left: 81px;
    &::after {
        content: "Вільнянськ";
    }
}
.novomykolayivka {
    top: 23px;
    left: 106px;
    &::after {
        content: "Новомиколаївка";
    }
}
.hulyaypole {
    top: 46px;
    left: 136px;
    &::after {
        content: "Гуляйполе";
    }
}
.orihiv {
    top: 55px;
    left: 103px;
    &::after {
        content: "Оріхів";
    }
}
.kamyanka-dniprovska {
    top: 65px;
    left: 13px;
    &::after {
        content: "Кам’янка-Дніпровська";
    }
}
.energodar {
    top: 61px;
    left: 24px;
    &::after {
        content: "Енергодар";
    }
}
.vasylivka {
    top: 65px;
    left: 69px;
    &::after {
        content: "Василівка";
    }
}
.polohy {
    top: 68px;
    left: 135px;
    &::after {
        content: "Пологи";
    }
}
.kamyanka-2 {
    top: 75px;
    left: 164px;
    &::after {
        content: "Кам’янка";
    }
}
.rozivka {
    top: 72px;
    left: 191px;
    &::after {
        content: "Розівка";
    }
}
.dniprorudne {
    top: 75px;
    left: 45px;
    &::after {
        content: "Дніпрорудне";
    }
}
.myhailivka {
    top: 82px;
    left: 64px;
    &::after {
        content: "Михайлівка";
    }
}
.tokmak {
    top: 84px;
    left: 105px;
    &::after {
        content: "Токмак";
    }
}
.molochansk {
    top: 92px;
    left: 96px;
    &::after {
        content: "Молочанськ";
    }
}
.chernigivka {
    top: 97px;
    left: 130px;
    &::after {
        content: "Чернігівка";
    }
}
.vesele {
    top: 107px;
    left: 45px;
    &::after {
        content: "Веселе";
    }
}
.melitopol {
    top: 132px;
    left: 79px;
    &::after {
        content: "Мелітополь";
    }
}
.konstantynivka-pryazonske {
    top: 139px;
    left: 91px;
    &::after {
        content: "Константинівка-Приазовське";
    }
}
.yakymivka {
    top: 145px;
    left: 70px;
    &::after {
        content: "Якимівка";
    }
}
.novodanylivka {
    top: 156px;
    left: 52px;
    &::after {
        content: "Новоданилівка";
    }
}
.kyrylivka {
    top: 173px;
    left: 74px;
    &::after {
        content: "Кирилівка";
    }
}
.prymorsk {
    top: 141px;
    left: 142px;
    &::after {
        content: "Приморськ";
    }
}
.berdyansk {
    top: 131px;
    left: 173px;
    &::after {
        content: "Бердянськ";
    }
}