.slovechne {
    top: 31px;
    left: 77px;
    &::after {
        content: "Словечне";
    }
}
.pershotravneve {
    top: 29px;
    left: 114px;
    &::after {
        content: "Першотравневе";
    }
}
.ovruch {
    top: 40px;
    left: 107px;
    &::after {
        content: "Овруч";
    }
}
.olevsk {
    top: 46px;
    left: 28px;
    &::after {
        content: "Олевськ";
    }
}
.bilokorovychi {
    top: 60px;
    left: 58px;
    &::after {
        content: "Білокоровичі";
    }
}
.luhyny {
    top: 65px;
    left: 82px;
    &::after {
        content: "Лугини";
    }
}
.korosten {
    top: 74px;
    left: 97px;
    &::after {
        content: "Коростень";
    }
}
.yemilchyne {
    top: 78px;
    left: 38px;
    &::after {
        content: "Ємільчине";
    }
}
.irshansk {
    top: 94px;
    left: 102px;
    &::after {
        content: "Іршанськ";
    }
}
.malyn {
    top: 94px;
    left: 140px;
    &::after {
        content: "Малин";
    }
}
.novgrad-volynskiy {
    top: 109px;
    left: 25px;
    &::after {
        content: "Новград-Волинцький";
    }
}
.horoshiv {
    top: 105px;
    left: 80px;
    &::after {
        content: "Хорошів";
    }
}
.bronyky {
    top: 114px;
    left: 39px;
    &::after {
        content: "Броники";
    }
}
.chernyahiv {
    top: 122px;
    left: 92px;
    &::after {
        content: "Черняхів";
    }
}
.radomyshl {
    top: 120px;
    left: 129px;
    &::after {
        content: "Радомишль";
    }
}
.korostyshiv {
    top: 140px;
    left: 120px;
    &::after {
        content: "Коростишів";
    }
}
.romaniv {
    top: 160px;
    left: 44px;
    &::after {
        content: "Романів";
    }
}
.teterivka {
    top: 156px;
    left: 82px;
    &::after {
        content: "Тетерівка";
    }
}
.andrushivka {
    top: 168px;
    left: 116px;
    &::after {
        content: "Андрушівка";
    }
}
.chudniv {
    top: 168px;
    left: 57px;
    &::after {
        content: "Чуднів";
    }
}
.lubar {
    top: 180px;
    left: 38px;
    &::after {
        content: "Любар";
    }
}
.bersychiv {
    top: 183px;
    left: 89px;
    &::after {
        content: "Бердичів";
    }
}